@import url("https://fonts.googleapis.com/css2?family=Poppins:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,700;1,800;1,900&family=Roboto:wght@100;300;400;500;700;900&display=swap");
@import "variable";
.header {
    display: flex;
    border-bottom: 0.0625rem solid $boderColor;
}
* {
    margin: 0;
    padding: 0;
    font-family: $poppinsFont;
}
.header {
    .logo {
        img {
            width: 5rem;
            height: 2.5rem;
        }
    }
}
.header {
    justify-content: space-between;
    padding-left: 10.3125rem;
    padding-right: 10.3125rem;
    height: 5rem;
    align-items: center;
}
.header-content-and-btn {
    display: flex;
    align-items: center;
    gap: 3.125rem;
}
.info{
    display: flex;
    align-items: center;
    gap: 1.875rem;
}
.header-content-and-btn {
    button {
        background: $bgColor;
        border: none;
        color: $whiteColor;
    }
    button:hover {
        opacity: 0.6;
    }
}
.nav-links {
    display: flex;
    padding: 0 10.3125rem;
    gap: 3.4375rem;
    height: 5rem;
    align-items: center;
    list-style: none;
}
.nav-links {
    li {
        a {
            text-decoration: none;
            color: $blackColor;
        }
    }
}
.banner {
    display: flex;
    justify-content: center;
    align-items: center;
    height: 43.75rem;
    background-image: url("./rfFFHQS_ierpaCssBtGpe7zdHFWLzKEVCmc6ld_moPW85TCFIYo5Al397rZgJG6GaOOsUfYeIDlwEmkIijkNbOcAHdgiH717II4QSf8g+5LU+jTs3Q4NHuue61qkMHXSWe1q0YfmodBvSfcuYFRZzjKFDBdbP+bI19SDUXmCn1O4zMcCxIWZGjxVw2_Lfx8Cg+funZlLSOf4oF.png");
}
.banner-content {
    max-width: 59.1875rem;
    text-align: center;
}
.banner-content {
    h1 {
        font-weight: $bold;
        font-size: 4rem;
        color: $whiteColor;
    }
}
.banner-content {
    p {
        padding-top: 0.625rem;
        margin: auto;
        font-weight: $medium;
        font-size: 1.5rem;
        color: $whiteColor;
    }
}
.Chi-Siamo-main-container {
    // padding: 5rem 10.3125rem 0 10.3125rem;
    margin: auto;
    text-align: center;
}
.Chi-Siamo-main-container {
    p {
        max-width: 63.375rem;
        margin:2.8125rem auto;
    }
    .Chi-Siamo-container {
        margin-top: 3rem;
        position: relative;
        h2::before{
            content: "";
            position: absolute;
            width: 8.25rem;
            height: 0.1875rem;
            background: $bgColor;
            top: 3.75rem;
            left: 34.5rem;
        }
    }
}

.Chi-Siamo-container::after{
    content: "";
    width: 5.1294rem;
    height: 5.9588rem;
    left: 1.4375rem;
    position: absolute;
    background-image: url(Group\ 427324279.svg);
    top: 1.0625rem;
}

