$poppinsFont: "Poppins", sans-serif;
$light: 300;
$regular: 400;
$medium: 500;
$semiBold: 600;
$bold: 700;
$secondaryColor: #666666;
$primaryColor: #363636;
$whiteColor: #ffffff;
$blackColor: #000;
$bgColor: #86be3f;
$bgtertiaryColor: #FCFCFC;
$boderColor: #F3EDED;
$borderPrimaryColor: #F8F8F8;
$cardBgColor: #F8F8F8;
$textColor: #9A9A9A;
$bgprimaryColor: #F9F9F9;
$tertiaryColor: #F5F5F5;
$cardTertiaryColor:#FBFBFB;
$formTertiaryColor:#DEDEDE;
$inputTertiaryColor:#979797;


